header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5E5E5;
    border-style: solid;
    border-color: #989898;
}

.navbar__title {
    display: flex;
    padding: 0 20px;
    margin-bottom: 20px;
}

.nav__links {
    padding-right: 100px;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
    font-size: 2em;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .1em;
    text-indent: .3em;
    color: #707070;
    border-bottom: 3px solid transparent;
}

.nav__links li a:link {
    color: #707070;
    text-decoration: none;
}

.nav__links li a:visited {
    color: #707070;
    text-decoration: none;
}

.nav__links li a:hover {
    color: #707070;
    text-decoration: none;
}

.nav__links li a:active {
    color: #707070;
    text-decoration: none;
}

